.App-header{
  color: antiquewhite;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./components/assets/broken-engine.jpg');
  background-color: dimgray;
  background-blend-mode: multiply;
  background-position-y: -18vh;
  background-color: linear-gradient(rgb(236, 22, 104), rgb(230, 33, 33), darkgrey);
}

.skid{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-bottom: 2vh;
  font-size: 28px;
}

.linkin{
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 7vh;
}

a:link{
  text-decoration: none;
  color: antiquewhite;
}

a:visited {
  color: antiquewhite;
}

/* -------------------------------------
-------------- INTENT ---------------
------------------------------------- */

.intent{
  border: solid;
  height: 160vh;
  width: 100vw;
  background-image: url(./components/assets/Reflection.jpg);
  background-color: dimgray;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
}

.imageFeed{
  height: 160vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured{
  font-size: 26px;
  font-weight: 600;
  background: -webkit-linear-gradient(rgb(236, 19, 171), rgb(108, 99, 235));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.imageFeed1{
  display: flex;
  justify-content: space-evenly;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.img1{
  height: 40vh;
  width: 20vw;
  box-shadow: 5px 10px rgb(104, 80, 104);
  margin-right: 4vw;
}
.img2{
  height: 40vh;
  width: 20vw;
  box-shadow: 5px 10px rgb(230, 214, 230);
}
.img3{
  height: 40vh;
  width: 20vw;
  box-shadow: 5px 10px rgb(230, 214, 230);
  margin-right: 4vw;
}
.img4{
  height: 40vh;
  width: 20vw;
  box-shadow: 5px 10px rgb(104, 80, 104);
}
.img5{
  height: 40vh;
  width: 20vw;
  box-shadow: 5px 10px rgb(104, 80, 104);
  margin-right: 4vw;
}
.img6{
  height: 40vh;
  width: 20vw;
  box-shadow: 5px 10px rgb(230, 214, 230);
}

.imgIns{
  height: 40vh;
  width: 20vw;
}

.imgIns:hover{
  max-width: 250px;
  padding: 3rem;
  position: relative;
  background: linear-gradient(to right, rgb(144, 238, 172), rgb(64, 110, 238));
  padding: 3px;
}

.chatFeed{
  height: 90vh;
  width: 20vw;
  background-color: rgb(71, 71, 71); opacity: .8;
  box-shadow: -5px 10px rgb(22, 22, 22);
}

.feed{
  height: 87vh;
  width: 19.5vw;
  background-color: lightslategray;opacity: 1.9;
}

input{
  width: 19vw;
  background-color: lightcoral;
}

/* ----------------------------
---------- US --------------
---------------------------- */

.us{
  height: 80vh;
  width: 100vw;
  background-color: navajowhite;
  background-image: url(./components/assets/plot\ for\ a\ little.jpg);
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about{
  background-color: dimgray;opacity: .8;
  border-radius: 15px 50px 30px;
  padding-top: 10vh;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 20vh;
  width: 60vw;
  font-size: 18px;
  font-weight: 700;
  color: antiquewhite;
}